{% extends "base.html" %}

{% block title %}CoolTerminal - 现代化终端{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/terminal.css') }}">
{% endblock %}

{% block content %}
    <div id="terminal-tab" class="tab-content">
        {% include 'pages/terminal_tab.html' %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="/socket.io/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/terminal.js') }}?v=2.0.0"></script>
{% endblock %}
